<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Orangehrm">
    <classes>
      <class name="tests.OrangeHRM.ORM_Time_Test"/>
      <class name="tests.OrangeHRM.ORM_Leave_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
